.git
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
.env
.env.development
.env.production
.github
*.pyc
__pycache__/
venv/
.venv/
app/static/uploads/*
!app/static/uploads/.gitkeep
loveedit.db
app.py.backup
*.log
